# 👨‍💻 ❄️
# sleet.near


# 👋 hello
# nearai registry download sleet.near/hello/latest
# registry/sleet.near/hello
hello


# test
test
test3
# nearai agent interactive registry/sleet.near/test/latest --local
# nearai agent interactive sleet.near/test/latest --local