# Mac OS
.DS_Store

# .nearai config file
config.json

# obsidian
.obsidian/workspace.json


# 👋 
# nearai
# https://github.com/nearai/nearai
# git clone https://github.com/nearai/nearai.git
# so i can have all the near ai docs!
nearai

# 👋
# official-agents
# https://github.com/nearai/official-agents
# git clone https://github.com/nearai/official-agents.git
# some agent samples so i don't have to download form the registry
official-agents


# 👋
# nearai registry
# you can download and learn from
# other agents in the registry.

registry/gagdiez.near/hello-ai
# nearai registry download gagdiez.near/hello-ai/latest
