# Mac OS
.DS_Store

# .nearai config file
config.json

# obsidian
.obsidian/workspace.json

# 👋
# nearai registry
# you can download and learn from
# other agents in the registry.

registry/gagdiez.near/hello-ai
# nearai registry download gagdiez.near/hello-ai/latest
