# slimedragon.near

# 👋 nearvember-mint-agent
# nearai registry download slimedragon.near/nearvember-mint-agent/latest
# registry/slimedragon.near/nearvember-mint-agent
nearvember-mint-agent


# 👋 memecoin-trading-agent
# nearai registry download slimedragon.near/memecoin-trading-agent/latest
# registry/slimedragon.near/memecoin-trading-agent
memecoin-trading-agent
