# 👨‍💻
# near-ai-agents.near

# 👋 assistant
# https://github.com/nearai/official-agents/tree/main/assistant
# nearai registry download near-ai-agents.near/assistant/latest
# registry/near-ai-agents.near/assistant
assistant